.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: lightcoral;
    margin: 0;
    width: 100%;
    padding: 0.5rem;
  }

  .navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    /* border: 2px solid black; */
    margin: 2px;

    
  }


  

  .navbar-logout {
    margin-left: auto;
  }

  .navbar-link:hover {
    color: var(--primary);
  }

  a {
    text-decoration: none;
    color:darkblue;
  }