#root {
    display: grid;
}

.title {
    font-family: 'Pacifico';
    font-size: x-large;
    display: flex;
    justify-content: center;
}

.searchBar {
    display: grid;
    justify-self: center;
}

.yarnContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Single Day';
    font-size: x-large;
}


.yarnCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.search-bar {
    display: flex;
    box-shadow: 5px 5px 15px 5px lightcoral;
    margin: 30px;
}

.search-input {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: 30px;
    box-shadow: 5px 5px 15px 5px lightcoral;
    width: 150px;
    
}

searchBar {
    display: grid;
}


.yarnDetails {
    justify-content: space-between;
    border: 10px double lightcoral;
    margin: 10px;
    width: 300px;
    padding: 5px;

}

.home {
    background-position:center;
    background-repeat:no-repeat;
    /* padding: 2rem; */
    border: 1px solid lightcoral;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 20px;
   
}


.yarn-details-info {
    justify-content: space-between;
    border: 8px double lightcoral;
    margin: 10px;
    width: 300px;
    padding: 10px;
    font-family: 'Single Day';
    font-size: x-large;
}


.form-new-yarn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px lightcoral;
    
}

fieldset {
    width: 300px;
    text-align: center;
    

}

input {
    width: 200px
}

.btn-warning {
    color: rgb(255, 255, 255); font-size: 14px; line-height: 14px; padding: 8px; border-radius: 25px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: radial-gradient(rgb(255, 0, 0) 0%, rgb(247, 129, 82) 100%); box-shadow: rgba(0, 0, 0, 0.04) 5px -3px 32px 26px; border: 9px double rgb(156, 37, 164); display: inline-block;}
    
btn-warning:hover {
    background: #FF0000; }
    
.btn-warning:active {
    background: #F78152; }

    
.btn-fun {
        display: flex;
        align-self: center;
        width: 150px;
        color: rgb(0, 0, 0); font-size: 14px; line-height: 14px; padding: 8px; border-radius: 25px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: radial-gradient(rgb(255, 255, 255) 0%, rgb(255, 195, 251) 46%, rgb(255, 255, 255) 100%); box-shadow: rgba(0, 0, 0, 0.04) 5px -3px 32px 26px; border: 9px double rgb(156, 37, 164); display: inline-block;}

btn-fun:hover {
        background: rgb(255,255,255); }
        
.btn-fun:active {
        background: rgb(255,255,255); }


