.yarnContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.yarnDetails {
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px;
    width: 250px

}

.home {
    background-position:center;
    background-repeat:no-repeat;
    /* padding: 2rem; */
    border: 1px solid transparent;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 20px;
   
}


.yarn-details-info {
    justify-content: space-around;
    padding: 2px;
}


.form-new-yarn {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

fieldset {
    width: 300px;
    text-align: center;
    

}

input {
    width: 200px
}