.title {
    text-shadow: 10px -2px 4px rgba(219,75,151,0.51);
}


.profile-box {
    display: flex;
    justify-self: center;
    border: 4px solid lightcoral;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3px

}

.user-title {
    
    font-family: 'Pacifico';
    font-size: xx-large;
    text-decoration: underline;
    margin: 5px;
    
}

.profile-title {
    text-shadow: 10px -2px 4px rgba(219,75,151,0.51);
    font-family: 'Pacifico';
    font-size: xx-large;
    text-decoration: underline;
    margin: 20px;
    
}

.profile {
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3px
}


.user-info {
 
    font-family: 'Single Day';
    font-size: xx-large;

}


.btn-fun {
    color: black; font-size: 16px; line-height: 16px; padding: 6px; border-radius: 11px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(248, 131, 121) 0%, rgb(248, 131, 121) 50%, rgb(243, 241, 235) 100%);  border: 2px solid lightcoral; display: inline-block;}

btn-fun:hover {
    background: #F88379; }

    btn-fun:active {
    background: #F3F1EB; }