body {
    margin: 0 0 0 0;
}

.yarn-login{
    width: 500000px;
    height: 500000px;
    background-image: url("https://e0.pxfuel.com/wallpapers/984/930/desktop-wallpaper-yarn.jpg");
}
.auth-form {
    display: grid;
    border: 1px black;
    position: absolute;
    top: 200px;
    left: 300px;
    background-color: lightcoral;
    width: 400px;
    justify-items: center;
    margin: 20px;
    padding: 35px;
    font-family: 'Pacifico'

    
}


.att {
    color: lightgray;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.form-reg {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.register {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
}